<section class="hero-image hero-course-banner" style="background-image:url(../../../assets/params/images/banner/hero-banner-courses.png); background-size:cover;
">
    <div class="container">
        <div class="hero-caption">
            <div class="cap-top">
                <div class="left-hero-caption">
                    <div class="top-caption">
                        <h1>Stress Less & Manage <br />Better - FREE Workshop</h1>

                    </div>

                </div>
                <div class="right-hero-caption">

                </div>
            </div>
            <div class="cap-bottom">
                <div class="cap-bottom-left">
                    <h3 class="heading-lg">Live Webcast</h3>
                    <div class="course-start-info font-barlow">
                        <label>Tue, Mar 22nd 2022 </label>
                        <span>01:00 pm – 02:00 pm EST</span>
                    </div>
                </div>
                <div class="cap-bottom-right">
                    <div class="form-inline-value">
                        <span>$99.00</span>
                        <div class="stepper-input stepper__input">


                            <div class="form-check-inline">
                                <button class="btn-types btn-plus">
                                    <img src="../../../../../assets/params/images/icons/minus.svg"></button>
                            </div>
                            <div class="form-check-inline">
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-check-inline">
                                <button class="btn-types btn-minus">
                                    <img src="../../../../../assets/params/images/icons/plus.svg"></button>
                            </div>
                        </div>
                        <div class="btn-enroll">
                            <a href="" class="btn btn-primary">Enroll now</a>
                        </div>
                    </div>

                    <div class="form-info-text">
                        <small class="font-barlow">* If need to purchase 10 or more <br /> enrollments, please contact
                            us</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="courses-catalogue-package padding-distance-md">
    <div class="container">


        <ul class="nav nav-tabs custom-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="courseoutline-tab" data-bs-toggle="tab"
                    data-bs-target="#courseoutline" type="button" role="tab" aria-controls="courseoutline"
                    aria-selected="true">live events</button>
            </li>
          
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="faq-tab" data-bs-toggle="tab" data-bs-target="#faq" type="button"
                    role="tab" aria-controls="faq" aria-selected="false">faq</button>
            </li>

        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="courseoutline" role="tabpanel"
                aria-labelledby="courseoutline-tab">
                <div class="package-course-items padding-distance-md">
                    <h3 class="heading-sm text-uppercase font-barlow">What is your stress costing you? <br />Money?
                        Clients? Health?</h3>
                    <div class="row">
                        <div class="col-sm-5 ">
                            <div class="package-deal-left-media">


                                <div class="event-course-image mt-4 mb-4">
                                    <img src="../../../../assets/params/images/banner/courses-event.png"
                                        class="img-fluid">
                                    <div class="event-tag">Live event</div>
                                </div>
                                <h3 class="heading-sm text-uppercase font-barlow"> It’s time to retrain your mind, and
                                    take control of how you respond to stress so you can reach your highest potential
                                    and give your clients the best of you. We look forward to seeing you in our
                                    workshop.</h3>

                                <div class="content mt-4">
                                    <p class="paragraph font-barlow">As a finance professional, you wear multiple hats
                                        when dealing with clients. And learning how to manage your stress is a crucial
                                        component to success. Did you know that EAs, CPAs, and finance professionals
                                        face significantly more stress than the average professional, as per Financial
                                        Planning magazine?</p>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-6 offset-sm-1">
                            <div class="package-deal-right-content">

                                <div class="content">
                                    <p class="paragraph font-barlow">According to Mental Health America, stress costs US
                                        employers an estimated$500 billion in lost productivity annually. Poorly managed
                                        stress, time, and resources can become detrimental to your career. You may
                                        experience, lower productivity, failure to achieve goals, burnout, anxiety,
                                        depression, and poor physical health in the face of market volatility, increased
                                        competition, shrinking margins, limited time to see all your clients, meeting
                                        your targets and your client’s expectations.
                                        We know stress is an inevitable part of the job, but it doesn’t have to be
                                        costly. There are tools in this workshop and actionable steps you can take that
                                        we believe will positively impact the outcome of your coming season.</p>
                                </div>
                                <h3 class="heading-sm text-uppercase font-barlow mt-4"> In our “Stress Less & Manage
                                    Better” Workshop, you will:</h3>
                                <div class="about-list mt-3">
                                    <ul>
                                        <li> Learn to become more resilient, invoking your natural capacity at
                                            addressing challenges affecting your behavior, relationships, body, peace of
                                            mind and bottom line</li>
                                        <li> Acquire a skill set to help you manage your stress levels and avoid burning
                                            out during the most chaotic time of the year</li>
                                        <li> Explore how stress affects your body and how you could create balance and
                                            harmony with tools you already have</li>
                                        <li> Leave this workshop confident and equipped with techniques you can apply to
                                            cultivate a more balanced mental health.</li>

                                    </ul>
                                </div>

                                <div class="cpa-social-icons cpa-social-icons-package">
                                    <label class="share">share with</label>
                                    <ul>
                                        <li><a href="https://www.facebook.com/cpewarehouse" target="_blank"><img
                                                    src="../../../assets/params/images/icons/facebook.svg"></a></li>
                                        <li><a href=""><img src="../../../assets/params/images/icons/twitter.svg"></a>
                                        </li>
                                        <li><a href="https://www.linkedin.com/company/cpewarehouse" target="_blank"><img
                                                    src="../../../assets/params/images/icons/in.svg"></a></li>
                                        <li><a href="https://www.instagram.com/cpe_warehouse/" target="_blank"><img
                                                    src="../../../assets/params/images/icons/insta.svg"></a></li>
                                    </ul>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
           
            <div class="tab-pane fade" id="faq" role="tabpanel" aria-labelledby="faq-tab">

                <div class="package-course-items padding-distance-md">
                    <h3 class="heading-sm text-uppercase font-barlow">FAQ - FREQUENTLY ASKED QUESTIONS</h3>
                    <div class="row">

                        <div class="col-sm-12 ">
                            <div class="package-deal-right-content">




                                <div class="about-list faq mt-3 ml-5">
                                    <ul>
                                        <li> Self-study courses are online.</li>
                                        <li>The self-study format allows you to a) access the material online 24/7 and
                                            b) study at your own pace.</li>
                                        <li> Per NASBA guidelines, you have one year from date of purchase to complete
                                            each program.</li>
                                        <li> Complete your final exam at any time and get graded instantly. You can
                                            retake the exam at no additional charge (unlimited attempts).

                                        </li>
                                        <li>Print your own certificate of completion on the spot upon passing the exam.
                                        </li>
                                        <li>Grading policies: a) courses have a minimum passing score 70% b) test takers
                                            will not be provided feedback on failed exams.</li>
                                        <li>Upon achieving a passing score, test takers will be notified of the correct
                                            answers to the questions missed..</li>

                                    </ul>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

</section>






<section class="courses-catalogue courses-catalogue-package-deal  padding-distance pb-5">
    <div class="container">
        <div class="page-head mb-1">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="heading-lg">related courses</h3>
                </div>


            </div>
        </div>

        <div class="courses-cat-list mt-4">
            <div class="row">
                <div class="col-sm-4">
                    <div class="course-list-box">
                        <a>
                            <div class="course-list-media">
                                <img src="../../../../assets/params/images/banner/course-image01.png" class="img-fluid">
                            </div>

                            <div class="course-cat-content">
                                <h5 class="heading-sm text-uppercase">2021 Form 1065 and K-1 - IRS Throws Rocks at a
                                    Hornets’ Nest</h5>

                                <div class="about-list list-margins">
                                    <ul>
                                        <li>Tue, 03 Mar, 2022 </li>
                                        <li>Instructor: Vicki Lambert </li>
                                    </ul>
                                </div>

                                <div class="course-logo">
                                    <a href="" class="course-logo"><img _ngcontent-angular-starter-c31=""
                                            src="../../../../assets/params/images/banner/course-logo.svg"></a>
                                </div>
                                <div class="course-footer-cat">
                                    <div class="row align-items-center">
                                        <div class="col-6">
                                            <a href="" class="course-view font-barlow">QUICK VIEW </a>

                                        </div>
                                        <div class="col-6">
                                            <a href="" class="btn btn-primary btn-lg btn-blue btbn-icon btn-sm">read
                                                more <img
                                                    src="../../../../assets/params/images/icons/arrow-white.svg"></a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--4-->
                <div class="col-sm-4">
                    <div class="course-list-box">
                        <a>
                            <div class="course-list-media">
                                <img src="../../../../assets/params/images/banner/course-image02.png" class="img-fluid">
                            </div>

                            <div class="course-cat-content">
                                <h5 class="heading-sm text-uppercase">2021 Form 1065 and K-1 - IRS Throws Rocks at a
                                    Hornets’ Nest</h5>

                                <div class="about-list list-margins">
                                    <ul>
                                        <li> 18 courses included in this collection</li>
                                    </ul>
                                </div>

                                <div class="course-logo">
                                    <a href="" class="course-logo"><img _ngcontent-angular-starter-c31=""
                                            src="../../../../assets/params/images/banner/course-logo.svg"></a>
                                </div>
                                <div class="course-footer-cat">
                                    <div class="row align-items-center">
                                        <div class="col-6">
                                            <a href="" class="course-view font-barlow">QUICK VIEW </a>

                                        </div>
                                        <div class="col-6">
                                            <a href="" class="btn btn-primary btn-lg btn-blue btbn-icon btn-sm">read
                                                more <img
                                                    src="../../../../assets/params/images/icons/arrow-white.svg"></a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--4-->
                <div class="col-sm-4">
                    <div class="course-list-box">
                        <a>
                            <div class="course-list-media">
                                <img src="../../../../assets/params/images/banner/course-image03.png" class="img-fluid">
                            </div>

                            <div class="course-cat-content">
                                <h5 class="heading-sm text-uppercase">2021 Form 1065 and K-1 - IRS Throws Rocks at a
                                    Hornets’ Nest</h5>

                                <div class="about-list list-margins">
                                    <ul>
                                        <li> 5 courses included in this collection</li>
                                    </ul>
                                </div>

                                <div class="course-logo">
                                    <a href="" class="course-logo"><img _ngcontent-angular-starter-c31=""
                                            src="../../../../assets/params/images/banner/course-logo.svg"></a>
                                </div>
                                <div class="course-footer-cat">
                                    <div class="row align-items-center">
                                        <div class="col-6">
                                            <a href="" class="course-view font-barlow">QUICK VIEW </a>

                                        </div>
                                        <div class="col-6">
                                            <a href="" class="btn btn-primary btn-lg btn-blue btbn-icon btn-sm">read
                                                more <img
                                                    src="../../../../assets/params/images/icons/arrow-white.svg"></a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--4-->

            </div>

            <div class="btn-custom-style text-center mt-3 mb-5">
                <a href="" class="btn btn-primary">View all Course</a>
            </div>
        </div>
    </div>
</section>


