<section class="hero-image hero-image-simple"
    style="background-image:url({{environmentUrl+herosimpleSection?.background?.data?.attributes?.formats?.large?.url}}); background-size:cover;">

    <div class="container">
        <div class="hero-caption">
            <div class="left-hero-caption">
                <div class="top-caption">

                    <h3>{{herosimpleSection?.title}}</h3>

                    <div class="cap-bottom-left">
                        <h3 class="heading-lg">{{herosimpleSection?.subtitle}}</h3>

                    </div>
                </div>

            </div>
           
        </div>
    </div>

</section>

<ng-template #template>


    <div class="modal-body">

        <video width="100%" height="575" controls>
            <source [src]="videolink" type="video/mp4">
        </video>
    </div>
</ng-template>