<div class="hero-inner-banner" style="background-image:url(../../../assets/params/images/banner/inner-banner.png); background-size:cover;
">
  <div class="container">
    <div class="inner-caption">
      <h1 class="login-head-title">
        RESET PASSWORD
      </h1>
    </div>
  </div>
</div>


<div class="container mb-5">
  <div class="white-container login-box">
    <div class="login-card login-custom-card mt-3">
      <h1 class="mobile-head">CME Avenue</h1>

      <div class="login-card-back">
        <a routerLink="/auth/login" class="back-action"><img
            src="../../../../assets/params/images/icons/arrow-back.svg"></a>

      </div>

      <form [formGroup]="forgotPasswordForm">

        <div class="form-row">
          <div class="row">
            <div class="col-sm-6">
              <div class="input-group">
                <span class="required">*</span>
                <img src="../../../../assets/params/images/icons/icon-email.svg" class="icon-input">
                <input type="email" class="form-control form-control-sm"
                  [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" formControlName="email" id="email"
                  placeholder="Email Address">
                <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                  <div *ngIf="f['email'].errors['required']">Email is required</div>
                  <div *ngIf="f['email'].errors['pattern']">Email must be a valid email address
                  </div>
                </div>
              </div>
            </div>
            <!--6-->
            <div class="col-sm-6">

            </div>
            <!--6-->
          </div>
        </div>







        <!-- <div class="form-row mt-0 form-member">
          <p><a (click)="resendEmailLink()" class="cursor">Resend password link</a></p>

        </div> -->

        <div class="form-row mt-4">
          <div class="row">
            <div class="col-sm-6">
              <div class="input-group mt-1">
                <button [disabled]=" !forgotPasswordForm.valid || count!==0"
                  class="w-100 btn nga-btn nga-btn-primary mb-4 " (click)="onSubmit(template)">
                  send reset password link
                </button>

              </div>


            </div>
            <!--6-->
            <div class="col-sm-6">

            </div>
            <!--6-->
          </div>
        </div>



      </form>
      <!-- <div class="cpa-social-icons login-social mt-3">
        <ul>
          <li><a href="https://www.facebook.com/cpewarehouse" target="_blank"><img src="../../../assets/params/images/icons/facebook.svg"></a></li>
          <li><a href="https://twitter.com/CpeWarehouse" target="_blank"><img src="../../../assets/params/images/icons/twitter.svg"></a></li>
          <li><a href="https://www.linkedin.com/company/cpewarehouse" target="_blank"><img src="../../../assets/params/images/icons/icon-linked-white.svg"></a></li>
          <li><a href="https://www.instagram.com/cpe_warehouse/" target="_blank"><img src="../../../assets/params/images/icons/icon-insta-white.svg"></a></li>
        </ul>

      </div> -->
    </div>


  </div>
</div>




<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left"> <img src="../../../../assets/params/images/banner/login-logo.svg" alt="logo">
    </h4>
    <button type="button" class="close close-modal pull-right" aria-label="Close" (click)="close()"
      data-dismiss="modal">
      <img src="../../../../assets/params/images/icons/btn-close.svg">
    </button>
  </div>
  <div class="modal-body">

    <img src="../../../../assets/params/images/banner/icon-tick.svg" alt="logo">
    <!-- <h3>Email Sent Successfully. Please your inbox for the link !</h3> -->
    <h3>Incorrect Email address. Please try using the correct one</h3>
    <div class="message-button">
      <button type="button" class="btn btn-custom-default" (click)="close()">Close</button>
      <!-- <a  routerLink="/auth/login" class="btn  btn-custom-default btn-custom-blue" >login</a> -->
    </div>
  </div>
  <div class="modal-footer">
    <p>{{footerData?.title}}</p>
  </div>
</ng-template>


<ng-template #template2>
  <div class="modal-header">
    <h4 class="modal-title pull-left"> <img src="../../../../assets/params/images/banner/login-logo.svg" alt="logo">
    </h4>
    <button type="button" class="close close-modal pull-right" aria-label="Close" (click)="closeM()"
      data-dismiss="modal">
      <img src="../../../../assets/params/images/icons/btn-close.svg">
    </button>
  </div>
  <div class="modal-body">


    <!-- <h3>Email Sent Successfully. Please your inbox for the link !</h3> -->
    <h3>{{title}}</h3>
    <div class="message-button">
      <button type="button" class="btn btn-custom-default" (click)="closeM()">Ok</button>
      <!-- <a  routerLink="/auth/login" class="btn  btn-custom-default btn-custom-blue" >login</a> -->
    </div>
  </div>
  <div class="modal-footer">
    <p>{{footerData?.title}}</p>
  </div>
</ng-template>