.password-see {
    z-index: 999 !important;
  }
  .cpa-social-icons.cpa-social-icons-login {
    margin-top: 40px;
  }
  .cpa-social-icons.cpa-social-icons-login ul:after{background-color: #16844C; width: 81px;}