@media only screen and (max-width: 767px) {
  .white-container.white-container-signup.profile-container-style {
    margin-top: 100px;
  }
  .white-container.white-container-signup.profile-container-style .form-row {
    margin-bottom: 0px;
  }
  .white-container.white-container-signup.profile-container-style
    .form-row
    .input-group {
    margin-bottom: 20px;
  }
  .white-container.white-container-signup.profile-container-style
    .col-sm-6.pr-4 {
    padding-right: 20px;
  }
}
.font-barlow {
    font-family: "Barlow ", sans-serif;
    font-size: 13px;
    font-weight: 200;
    color: grey;
  }

  .input-group .form-control  ::placeholder{
    border: 0;
    border-bottom: 1px solid #0D0D0D;
    border-radius: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1em;
    /* text-transform: capitalize; */
    color: #0D0D0D;
    width: 100%;
    padding-left: 26px;
    padding-right: 25px;
    background: transparent;
  }