
<div class="modal-header">
    <h4 class="modal-title pull-left"> <img src="../../../../assets/params/images/banner/login-logo.svg" alt="logo">
    </h4>
    <button type="button" class="close close-modal pull-right" aria-label="Close" data-dismiss="modal">
      <img src="../../../../assets/params/images/icons/btn-close.svg">
    </button>
  </div>
  <div class="modal-body">
    <div class="modal-email-touch">
      <div class="row">
        <div class="col-sm-6">
  <div class="email-popup-left">
    <h2>DON’T BE SHY</h2>
    <h4>GET IN TOUCH</h4>
    <form>
  
      <div class="form-row">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="input-group">
                      <span class="required">*</span>
                      <img src="../../../../assets/params/images/icons/icon-user.svg" class="icon-input">
                        <input type="text" class="form-control form-control-sm" formControlName="email" id="email"
                        placeholder="Name">
                       </div>
                  </div><!--6-->
                 
                </div>
                </div>
                <div class="form-row">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="input-group">
                        <span class="required">*</span>
                        <img src="../../../../assets/params/images/icons/icon-email.svg" class="icon-input">
                          <input type="email" class="form-control form-control-sm" formControlName="email" id="email"
                          placeholder="email address">
                         </div>
                    </div><!--6-->
                  
                  </div>
                  </div>
                  <div class="form-row">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="input-group">
                          <span class="required">*</span>
                          <img src="../../../../assets/params/images/icons/icon-phone.svg" class="icon-input">
                            <input type="text" class="form-control form-control-sm" formControlName="email" id="email"
                            placeholder="Phone">
                           </div>
                      </div><!--6-->
                     
                    </div>
                    </div>
  
                    <div class="form-row">
                      <div class="row">
                        <div class="col-sm-12">
                         <div class="row">
                          <div class="col-sm-6 pr-4">
                            <div class="input-group">
                              <span class="required">*</span>
                              <img src="../../../../assets/params/images/icons/icon-flag.svg" alt="company" class="icon-input">
                               
                                <select class="form-control"><option>Country</option></select>
                               </div>
                             <div class="error-message-show">
                              <span></span>
                                                      </div>
                            </div>
                            <div class="col-sm-6 pr-4">
                              <div class="input-group">
                                <span class="required">*</span>
                                <img src="../../../../assets/params/images/icons/icon-flag.svg" alt="flag" class="icon-input">
                               
                                  <select class="form-control"><option>province / state</option></select>
                                 </div>
                                 <div class="error-message-show">
                                  <span></span>
                                                          </div>
                            </div>
                         </div>
                        </div><!--6-->
                        
                      </div>
            </div>
  
            <div class="form-row">
              <div class="row">
                <div class="col-sm-12">
                  <div class="input-group">
                    <span class="required">*</span>
                    <img src="../../../../assets/params/images/icons/icon-email.svg" class="icon-input">
                     
                      <textarea class="form-control form-control-sm"></textarea>
                     </div>
                </div><!--6-->
                <div class="col-sm-6">
                 
                 </div><!--6-->
              </div>
              </div>
              <div class="form-row">
                <span class="case-required">* Required</span>
                </div>
                <div class="form-row mt-4">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="input-group mt-1">
                        <button class="w-100 btn nga-btn nga-btn-primary mb-4" type="submit">
                          Send
                         
                        </button>
                         </div>
                    </div><!--6-->
                   
                  </div>
                  </div>
                </form>
  </div>
        </div>
        <div class="col-sm-6">
          <div class="popupemail">
            <img src="../../../../assets/params/images/banner/how-works-bannerblack.png" class="img-fluid">
  
          </div>
          
        </div>
  
      </div>
    </div>
    </div>
   
    <div class="modal-footer">
      <p>{{footerData.title}}</p>
    </div>