<section class="courses-catalogue padding-distance">
    <div class="container">
        <div class="page-head mb-5 mt-5">
            <div class="row">
                <div class="col-sm-8">
                    <h3 class="heading-lg">choose your courses</h3>
                </div>
                <div class="col-sm-4">
                    <div class="input-group-search">
                        <div class="form-outline">
                            <input type="search" id="form1" class="form-control" placeholder="search catalogue" />
                            <button type="button" class="btns">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="28" viewBox="0 0 30 28"
                                    fill="none">
                                    <circle cx="12.3848" cy="12.3848" r="11.3848" stroke="#0D0D0D" stroke-width="2" />
                                    <line x1="21.168" y1="19.7553" x2="28.7066" y2="27.2938" stroke="#0D0D0D"
                                        stroke-width="2" />
                                </svg>
                            </button>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="courses-cat-list mt-4 ">
            <perfect-scrollbar class="custom-scrollbar" scrollXMarginOffset="30">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="course-list-box">
                            <a>
                                <div class="course-list-media">
                                    <img src="../../../../assets/params/images/banner/cat-list-img.png"
                                        class="img-fluid">
                                </div>
                                <div class="take-law"><span>Take law</span></div>
                                <div class="course-cat-content">
                                    <h5 class="heading-sm text-uppercase">2021 Form 1065 and K-1 - IRS Throws Rocks at a
                                        Hornets’ Nest</h5>

                                    <div class="about-list">
                                        <ul>
                                            <li> On IRS 2021 Forms 1065, Schedules K-1 and Instructions, IRS continues
                                                to as…</li>
                                        </ul>
                                    </div>

                                    <div class="course-logo">
                                        <a href="" class="course-logo"><img _ngcontent-angular-starter-c31=""
                                                src="../../../../assets/params/images/banner/course-logo.svg"></a>
                                    </div>
                                    <div class="course-footer-cat">
                                        <div class="row align-items-center">
                                            <div class="col-6">
                                                <a href="" class="course-view font-barlow">QUICK VIEW </a>

                                            </div>
                                            <div class="col-6">
                                                <a href="" class="btn btn-primary btn-lg btn-blue btbn-icon btn-sm">read
                                                    more <img
                                                        src="../../../../assets/params/images/icons/arrow-white.svg"></a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!--4-->
                    <div class="col-sm-4">
                        <div class="course-list-box">
                            <a>
                                <div class="course-list-media">
                                    <img src="../../../../assets/params/images/banner/cat-list-img.png"
                                        class="img-fluid">
                                </div>
                                <div class="take-law"><span>Take law</span></div>
                                <div class="course-cat-content">
                                    <h5 class="heading-sm text-uppercase">2021 Form 1065 and K-1 - IRS Throws Rocks at a
                                        Hornets’ Nest</h5>

                                    <div class="about-list">
                                        <ul>
                                            <li> On IRS 2021 Forms 1065, Schedules K-1 and Instructions, IRS continues
                                                to as…</li>
                                        </ul>
                                    </div>

                                    <div class="course-logo">
                                        <a href="" class="course-logo"><img _ngcontent-angular-starter-c31=""
                                                src="../../../../assets/params/images/banner/course-logo.svg"></a>
                                    </div>
                                    <div class="course-footer-cat">
                                        <div class="row align-items-center">
                                            <div class="col-6">
                                                <a href="" class="course-view font-barlow">QUICK VIEW </a>

                                            </div>
                                            <div class="col-6">
                                                <a href="" class="btn btn-primary btn-lg btn-blue btbn-icon btn-sm">read
                                                    more <img
                                                        src="../../../../assets/params/images/icons/arrow-white.svg"></a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!--4-->
                    <div class="col-sm-4">
                        <div class="course-list-box">
                            <a>
                                <div class="course-list-media">
                                    <img src="../../../../assets/params/images/banner/cat-list-img.png"
                                        class="img-fluid">
                                </div>
                                <div class="take-law"><span>Take law</span></div>
                                <div class="course-cat-content">
                                    <h5 class="heading-sm text-uppercase">2021 Form 1065 and K-1 - IRS Throws Rocks at a
                                        Hornets’ Nest</h5>

                                    <div class="about-list">
                                        <ul>
                                            <li> On IRS 2021 Forms 1065, Schedules K-1 and Instructions, IRS continues
                                                to as…</li>
                                        </ul>
                                    </div>

                                    <div class="course-logo">
                                        <a href="" class="course-logo"><img _ngcontent-angular-starter-c31=""
                                                src="../../../../assets/params/images/banner/course-logo.svg"></a>
                                    </div>
                                    <div class="course-footer-cat">
                                        <div class="row align-items-center">
                                            <div class="col-6">
                                                <a href="" class="course-view font-barlow">QUICK VIEW </a>

                                            </div>
                                            <div class="col-6">
                                                <a href="" class="btn btn-primary btn-lg btn-blue btbn-icon btn-sm">read
                                                    more <img
                                                        src="../../../../assets/params/images/icons/arrow-white.svg"></a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!--4-->
                    <div class="col-sm-4">
                        <div class="course-list-box">
                            <a>
                                <div class="course-list-media">
                                    <img src="../../../../assets/params/images/banner/cat-list-img.png"
                                        class="img-fluid">
                                </div>
                                <div class="take-law"><span>Take law</span></div>
                                <div class="course-cat-content">
                                    <h5 class="heading-sm text-uppercase">2021 Form 1065 and K-1 - IRS Throws Rocks at a
                                        Hornets’ Nest</h5>

                                    <div class="about-list">
                                        <ul>
                                            <li> On IRS 2021 Forms 1065, Schedules K-1 and Instructions, IRS continues
                                                to as…</li>
                                        </ul>
                                    </div>

                                    <div class="course-logo">
                                        <a href="" class="course-logo"><img _ngcontent-angular-starter-c31=""
                                                src="../../../../assets/params/images/banner/course-logo.svg"></a>
                                    </div>
                                    <div class="course-footer-cat">
                                        <div class="row align-items-center">
                                            <div class="col-6">
                                                <a href="" class="course-view font-barlow">QUICK VIEW </a>

                                            </div>
                                            <div class="col-6">
                                                <a href="" class="btn btn-primary btn-lg btn-blue btbn-icon btn-sm">read
                                                    more <img
                                                        src="../../../../assets/params/images/icons/arrow-white.svg"></a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!--4-->
                    <div class="col-sm-4">
                        <div class="course-list-box">
                            <a>
                                <div class="course-list-media">
                                    <img src="../../../../assets/params/images/banner/cat-list-img.png"
                                        class="img-fluid">
                                </div>
                                <div class="take-law"><span>Take law</span></div>
                                <div class="course-cat-content">
                                    <h5 class="heading-sm text-uppercase">2021 Form 1065 and K-1 - IRS Throws Rocks at a
                                        Hornets’ Nest</h5>

                                    <div class="about-list">
                                        <ul>
                                            <li> On IRS 2021 Forms 1065, Schedules K-1 and Instructions, IRS continues
                                                to as…</li>
                                        </ul>
                                    </div>

                                    <div class="course-logo">
                                        <a href="" class="course-logo"><img _ngcontent-angular-starter-c31=""
                                                src="../../../../assets/params/images/banner/course-logo.svg"></a>
                                    </div>
                                    <div class="course-footer-cat">
                                        <div class="row align-items-center">
                                            <div class="col-6">
                                                <a href="" class="course-view font-barlow">QUICK VIEW </a>

                                            </div>
                                            <div class="col-6">
                                                <a href="" class="btn btn-primary btn-lg btn-blue btbn-icon btn-sm">read
                                                    more <img
                                                        src="../../../../assets/params/images/icons/arrow-white.svg"></a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!--4-->

                    <div class="col-sm-4">
                        <div class="course-list-box">
                            <a>
                                <div class="course-list-media">
                                    <img src="../../../../assets/params/images/banner/cat-list-img.png"
                                        class="img-fluid">
                                </div>
                                <div class="take-law"><span>Take law</span></div>
                                <div class="course-cat-content">
                                    <h5 class="heading-sm text-uppercase">2021 Form 1065 and K-1 - IRS Throws Rocks at a
                                        Hornets’ Nest</h5>

                                    <div class="about-list">
                                        <ul>
                                            <li> On IRS 2021 Forms 1065, Schedules K-1 and Instructions, IRS continues
                                                to as…</li>
                                        </ul>
                                    </div>

                                    <div class="course-logo">
                                        <a href="" class="course-logo"><img _ngcontent-angular-starter-c31=""
                                                src="../../../../assets/params/images/banner/course-logo.svg"></a>
                                    </div>
                                    <div class="course-footer-cat">
                                        <div class="row align-items-center">
                                            <div class="col-6">
                                                <a href="" class="course-view font-barlow">QUICK VIEW </a>

                                            </div>
                                            <div class="col-6">
                                                <a href="" class="btn btn-primary btn-lg btn-blue btbn-icon btn-sm">read
                                                    more <img
                                                        src="../../../../assets/params/images/icons/arrow-white.svg"></a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!--4-->
                    <div class="col-sm-4">
                        <div class="course-list-box">
                            <a>
                                <div class="course-list-media">
                                    <img src="../../../../assets/params/images/banner/cat-list-img.png"
                                        class="img-fluid">
                                </div>
                                <div class="take-law"><span>Take law</span></div>
                                <div class="course-cat-content">
                                    <h5 class="heading-sm text-uppercase">2021 Form 1065 and K-1 - IRS Throws Rocks at a
                                        Hornets’ Nest</h5>

                                    <div class="about-list">
                                        <ul>
                                            <li> On IRS 2021 Forms 1065, Schedules K-1 and Instructions, IRS continues
                                                to as…</li>
                                        </ul>
                                    </div>

                                    <div class="course-logo">
                                        <a href="" class="course-logo"><img _ngcontent-angular-starter-c31=""
                                                src="../../../../assets/params/images/banner/course-logo.svg"></a>
                                    </div>
                                    <div class="course-footer-cat">
                                        <div class="row align-items-center">
                                            <div class="col-6">
                                                <a href="" class="course-view font-barlow">QUICK VIEW </a>

                                            </div>
                                            <div class="col-6">
                                                <a href="" class="btn btn-primary btn-lg btn-blue btbn-icon btn-sm">read
                                                    more <img
                                                        src="../../../../assets/params/images/icons/arrow-white.svg"></a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!--4-->
                    <div class="col-sm-4">
                        <div class="course-list-box">
                            <a>
                                <div class="course-list-media">
                                    <img src="../../../../assets/params/images/banner/cat-list-img.png"
                                        class="img-fluid">
                                </div>
                                <div class="take-law"><span>Take law</span></div>
                                <div class="course-cat-content">
                                    <h5 class="heading-sm text-uppercase">COST ANALYSIS WITH OPPORTUNITY COSTS ON TAKING
                                        THIS COURSE</h5>

                                    <div class="about-list">
                                        <ul>
                                            <li> On IRS 2021 Forms 1065, Schedules K-1 and Instructions, IRS continues
                                                to as…</li>
                                        </ul>
                                    </div>

                                    <div class="course-logo">
                                        <a href="" class="course-logo"><img _ngcontent-angular-starter-c31=""
                                                src="../../../../assets/params/images/banner/course-logo.svg"></a>
                                    </div>
                                    <div class="course-footer-cat">
                                        <div class="row align-items-center">
                                            <div class="col-6">
                                                <a href="" class="course-view font-barlow">QUICK VIEW </a>

                                            </div>
                                            <div class="col-6">
                                                <a href="" class="btn btn-primary btn-lg btn-blue btbn-icon btn-sm">read
                                                    more <img
                                                        src="../../../../assets/params/images/icons/arrow-white.svg"></a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!--4-->
                    <div class="col-sm-4">
                        <div class="course-list-box">
                            <a>
                                <div class="course-list-media">
                                    <img src="../../../../assets/params/images/banner/cat-list-img.png"
                                        class="img-fluid">
                                </div>
                                <div class="take-law"><span>Take law</span></div>
                                <div class="course-cat-content">
                                    <h5 class="heading-sm text-uppercase">2021 Form 1065 and K-1 - IRS Throws Rocks at a
                                        Hornets’ Nest</h5>

                                    <div class="about-list">
                                        <ul>
                                            <li> On IRS 2021 Forms 1065, Schedules K-1 and Instructions, IRS continues
                                                to as…</li>
                                        </ul>
                                    </div>

                                    <div class="course-logo">
                                        <a href="" class="course-logo"><img _ngcontent-angular-starter-c31=""
                                                src="../../../../assets/params/images/banner/course-logo.svg"></a>
                                    </div>
                                    <div class="course-footer-cat">
                                        <div class="row align-items-center">
                                            <div class="col-6">
                                                <a href="" class="course-view font-barlow">QUICK VIEW </a>

                                            </div>
                                            <div class="col-6">
                                                <a href="" class="btn btn-primary btn-lg btn-blue btbn-icon btn-sm">read
                                                    more <img
                                                        src="../../../../assets/params/images/icons/arrow-white.svg"></a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!--4-->
                </div>
            </perfect-scrollbar>
        </div>
    </div>
</section>




<section class="courses-catalogue courses-catalogue-package-deal  padding-distance">
    <div class="container">
        <div class="page-head mb-5">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="heading-lg">Package deal</h3>
                </div>


            </div>
        </div>

        <div class="courses-cat-list mt-4">
            <div class="row">
                <div class="col-sm-4">
                    <div class="course-list-box">
                        <a>
                            <div class="course-list-media">
                                <img src="../../../../assets/params/images/banner/packagedeal-01.png" class="img-fluid">
                            </div>

                            <div class="course-cat-content">
                                <h5 class="heading-sm text-uppercase">bundle package deal #1 (2022)</h5>

                                <div class="about-list">
                                    <ul>
                                        <li> 10 courses included in this collection</li>
                                    </ul>
                                </div>

                                <div class="course-logo">
                                    <a href="" class="course-logo"><img _ngcontent-angular-starter-c31=""
                                            src="../../../../assets/params/images/banner/course-logo.svg"></a>
                                </div>
                                <div class="course-footer-cat">
                                    <div class="row align-items-center">
                                        <div class="col-6">
                                            <a href="" class="course-view font-barlow">QUICK VIEW </a>

                                        </div>
                                        <div class="col-6">
                                            <a href="" class="btn btn-primary btn-lg btn-blue btbn-icon btn-sm">read
                                                more <img
                                                    src="../../../../assets/params/images/icons/arrow-white.svg"></a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--4-->
                <div class="col-sm-4">
                    <div class="course-list-box">
                        <a>
                            <div class="course-list-media">
                                <img src="../../../../assets/params/images/banner/packagedeal-01.png" class="img-fluid">
                            </div>

                            <div class="course-cat-content">
                                <h5 class="heading-sm text-uppercase">bundle package deal #2 (2022)</h5>

                                <div class="about-list">
                                    <ul>
                                        <li> 18 courses included in this collection</li>
                                    </ul>
                                </div>

                                <div class="course-logo">
                                    <a href="" class="course-logo"><img _ngcontent-angular-starter-c31=""
                                            src="../../../../assets/params/images/banner/course-logo.svg"></a>
                                </div>
                                <div class="course-footer-cat">
                                    <div class="row align-items-center">
                                        <div class="col-6">
                                            <a href="" class="course-view font-barlow">QUICK VIEW </a>

                                        </div>
                                        <div class="col-6">
                                            <a href="" class="btn btn-primary btn-lg btn-blue btbn-icon btn-sm">read
                                                more <img
                                                    src="../../../../assets/params/images/icons/arrow-white.svg"></a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--4-->
                <div class="col-sm-4">
                    <div class="course-list-box">
                        <a>
                            <div class="course-list-media">
                                <img src="../../../../assets/params/images/banner/packagedeal-01.png" class="img-fluid">
                            </div>

                            <div class="course-cat-content">
                                <h5 class="heading-sm text-uppercase">bundle package deal #3 (2022)</h5>

                                <div class="about-list">
                                    <ul>
                                        <li> 5 courses included in this collection</li>
                                    </ul>
                                </div>

                                <div class="course-logo">
                                    <a href="" class="course-logo"><img _ngcontent-angular-starter-c31=""
                                            src="../../../../assets/params/images/banner/course-logo.svg"></a>
                                </div>
                                <div class="course-footer-cat">
                                    <div class="row align-items-center">
                                        <div class="col-6">
                                            <a href="" class="course-view font-barlow">QUICK VIEW </a>

                                        </div>
                                        <div class="col-6">
                                            <a href="" class="btn btn-primary btn-lg btn-blue btbn-icon btn-sm">read
                                                more <img
                                                    src="../../../../assets/params/images/icons/arrow-white.svg"></a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--4-->

            </div>
        </div>
    </div>
</section>


<section class="cpa-instructors">
    <div class="container">

        <div class="page-head mb-5">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="heading-lg">our instructors</h3>
                </div>


            </div>
        </div>
        <div class="nstructors-outer">

            <div class="instructors-container">
                <owl-carousel-o [options]="custommembers1">


                    <ng-template carouselSlide>
                        <div class="instructor-box">
                            <span>/01</span>
                            <div class="member-area-content">
                                <div class="member-area-media">
                                    <img src="../../../../assets/params/images/banner/member.png" class="img-fluid">
                                </div>
                                <h5 class="heading-sm text-uppercase mt-4">name of instructor</h5>
                            </div>
                        </div>
                    </ng-template>

                    <ng-template carouselSlide>
                        <div class="instructor-box">
                            <span>/02</span>
                            <div class="member-area-content">
                                <div class="member-area-media">
                                    <img src="../../../../assets/params/images/banner/member.png" class="img-fluid">
                                </div>
                                <h5 class="heading-sm text-uppercase mt-4">name of instructor</h5>


                            </div>





                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="instructor-box">
                            <span>/02</span>
                            <div class="member-area-content">
                                <div class="member-area-media">
                                    <img src="../../../../assets/params/images/banner/member.png" class="img-fluid">
                                </div>
                                <h5 class="heading-sm text-uppercase mt-4">name of instructor</h5>


                            </div>





                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="instructor-box">
                            <span>/02</span>
                            <div class="member-area-content">
                                <div class="member-area-media">
                                    <img src="../../../../assets/params/images/banner/member.png" class="img-fluid">
                                </div>
                                <h5 class="heading-sm text-uppercase mt-4">name of instructor</h5>


                            </div>





                        </div>
                    </ng-template>
                </owl-carousel-o>
                <div class="btn-custom-style text-center mt-5">
                    <a href="" class="btn btn-primary btn-lg mt-5">VIEW ALL INSTRUCTORS</a>
                </div>
            </div>
        </div>



    </div>
</section>


<section class="cpa-how-works cpa-how-works-about pt-5">
    <div class="container">

        <div class="work-container">
            <div class="row">

                <div class="col-sm-5">
                    <div class="work-content work-content-works">
                        <div class="page-title page-title-left">
                            <h1>questions? we are <br />happy to help</h1>
                        </div>

                        <p>Working hours: Monday to Friday 9am to 4pm ET</p>
                        <div class="custom-btn mt-5">
                            <a href="" class="btn  btn-primary btn-lg">email us</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="work-media">
                        <img src="../../../../assets/params/images/banner/how-works-bannerblack.png"
                            class="img-fluid img-sm">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>