<section class="hero-image"
    style="background-image:url({{environmentUrl+heroImg}}); background-size:cover;">
    <div class="container">
        <div class="hero-caption">
            <div class="left-hero-caption">
                <div class="top-caption">
                  <h3>{{heroTitle?.title}}</h3>
                    <!-- <h1>CPE <br/> warehouse</h1> -->
                    <h2 class="subtitle">{{heroTitle?.subTitle}}</h2>
                    <h4 class="subtitle">{{heroTitle?.description}} </h4>
                </div>
            </div>
  </div>
 </div>
</section>
<section class="making-differnce">
    <div class="container">
    
      <div class="row">
        <div class="col-12">
          <div class="difference-professional title_line">
           
            <markdown [data]="markdowndata"> </markdown>  
          
        </div>    
        <div class="text-center mt-5" ><a href="/contact-us"><button type="button" class="btn btn-primary btn-lg" >LET'S CONNECT</button></a></div>
            
          </div>         
  
      </div>
  
    </div>
  </section>