.password-see {
  z-index: 999 !important;
}
.cpa-social-icons.cpa-social-icons-login {
  margin-top: 63px;
}
.cpa-social-icons.cpa-social-icons-login ul:after {
  background-color: #16844c;
  width: 81px;
}
